<style>
  #projects {
    scroll-margin-top: 70px;
  }
</style>
<header class="navbar navbar-expand-md navbar-dark bg-light bg-gradient border-bottom sticky-top">
  <div class="container-fluid px-4">
    <a class="navbar-brand me-auto ps-3 fs-4" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 align-items-center gap-4">
        <li class="nav-item">
          <a style="color: white; font-size: 1.1rem; {% if page.url contains 'projects' or page.url == '/' %}border-bottom: 3px solid white; padding-bottom: 3px;{% endif %}"
             class="nav-link px-2"
             href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        </li>
        <li class="nav-item">
          <a style="color: white; font-size: 1.1rem; {% if page.url contains 'resume' %}border-bottom: 3px solid white; padding-bottom: 3px;{% endif %}"
             class="nav-link px-2"
             href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 align-items-center gap-3">
        <li class="nav-item d-none d-md-block"><span style="color: #1e293b;">|</span></li>
        {% capture url %}{{ site.data.bio.basics.profiles[0].url }}{% endcapture %}
        <li class="nav-item tf-nav-social">
          {% include about/social.html url=url name="github" label="" %}
        </li>
        {% capture url %}{{ site.data.bio.basics.profiles[1].url }}{% endcapture %}
        <li class="nav-item tf-nav-social">
          {% include about/social.html url=url name="linkedin" label="" %}
        </li>
        {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
        <li class="nav-item tf-nav-social">
          {% include about/social.html url=url name="envelope" label="" %}
        </li>
      </ul>
    </div>
  </div>
</header>
